.business{
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px 0;
    /* margin-bottom: 100px; */
}

.business-list{
    display: flex;
    gap: 100px;
}


.business-list-2{
    width: 333px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

video{
    width: 597px;
}

.text-1{
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}


.text-2{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}


.busines-item2{
    width: 333px;
}

.business-row{
    display: flex;
    gap: 20px;
}

.business-row h5{
    color: #252B42;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.business-row h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}